@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS VARS  */
    --background: 0 0% 100%;
    --foreground: 215, 16%, 47%;
    --foreground-accent: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222 47% 11%;
    --primary-foreground: 360, 100%, 100%;
    --secondary: 213, 27%, 84%;
    --secondary-foreground: 222, 47%, 11%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-hover: 243, 75%, 59%, 1;
    --destructive: 0 84% 60%;
    --destructive-foreground: 360, 100%, 100%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --link: 239 84% 67%;
    --success: 142 69% 58%;
    --states-border-hover: 215 20% 65%;
    --states-destructive-hover: 0 72% 51%;
    --states-foreground-hover: 215 25% 27%;
    --states-link-hover: 243 75% 59%;
    --states-primary-hover: 220 19% 27%;
    --states-secondary-hover: 214 32% 91%;

    --overlay: 270, 28.57%, 13.73%;

    /* BUTTON ICON WIDTH  */
    --btn-icon-width-xs: 1.75rem;
    --btn-icon-width-sm: 2.25rem;
    --btn-icon-width-md: 2.75rem;

    /* BUTTON ICON HEIGHT  */
    --btn-icon-height-xs: 1.75rem;
    --btn-icon-height-sm: 2.25rem;
    --btn-icon-height-md: 2.75rem;

    /* pasted from ../scripts/corrected_variables.css  */
    --accordion-py: 1rem;
    --alert-border-width: 0.0625rem;
    --icon-stroke-width: 0.11249999701976776rem;
    --alert-gap: 0.125rem;
    --alert-icon-gap: 0.5rem;
    --alert-px: 0.625rem;
    --alert-py: 0.625rem;
    --alert-border-radius: 0.75rem;
    --alert-icon-size: 1.25rem;
    --btn-border-width-md: 0.0625rem;
    --btn-border-radius-md: 0.5rem;
    --btn-gap-md: 0.5rem;
    --btn-py-md: 0.625rem;
    --btn-px-md: 1rem;
    --btn-icon-size-md: 1.5rem;
    --btn-height-md: 2.75rem;
    --btn-rounded-border-radius-md: 24rem;
    --btn-border-width-sm: 0.0625rem;
    --btn-py-sm: 0.375rem;
    --btn-border-radius-sm: 0.5rem;
    --btn-gap-sm: 0.5rem;
    --btn-px-sm: 0.75rem;
    --btn-icon-size-sm: 1.5rem;
    --btn-height-sm: 2.25rem;
    --btn-rounded-border-radius-sm: 24rem;
    --btn-border-width-xs: 0.0625rem;
    --btn-gap-xs: 0.125rem;
    --btn-py-xs: 0.125rem;
    --btn-border-radius-xs: 0.375rem;
    --btn-px-xs: 0.375rem;
    --btn-icon-size-xs: 1rem;
    --btn-height-xs: 1.75rem;
    --btn-rounded-border-radius-xs: 24rem;
    --card-border-radius-md: 1rem;
    --card-px-md: 1.5rem;
    --card-py-md: 1.5rem;
    --card-border-radius-sm: 0.75rem;
    --card-px-sm: 1rem;
    --card-py-sm: 1rem;
    --cntxt-menu-border-width: 0.0625rem;
    --cntxt-menu-px: 0.25rem;
    --cntxt-menu-py: 0.25rem;
    --cntxt-menu-border-radius: 0.5rem;
    --dialog-border-width: 0.0625rem;
    --dialog-border-radius: 1rem;
    --dialog-px: 1.5rem;
    --dialog-py: 1.5rem;
    --dropdown-border-radius: 0.375rem;
    --dropdown-py: 0.375rem;
    --dropdown-gap: 0.5rem;
    --dropdown-px: 0.5rem;
    --dropdown-icon-size: 1rem;
    --input-border-width-md: 0.0625rem;
    --input-border-radius-md: 0.5rem;
    --input-gap-md: 0.5rem;
    --input-py-md: 0.625rem;
    --input-px-md: 0.75rem;
    --input-icon-size-md: 1.5rem;
    --input-height-md: 2.75rem;
    --input-border-width-sm: 0.0625rem;
    --input-border-radius-sm: 0.375rem;
    --input-py-sm: 0.375rem;
    --input-gap-sm: 0.5rem;
    --input-px-sm: 0.75rem;
    --input-icon-size-sm: 1.5rem;
    --input-height-sm: 2.25rem;
    --popover-border-radius: 0.375rem;
    --popover-px: 1rem;
    --popover-py: 1rem;
    --selection-size: 1.25rem;
    --tabs-border-radius: 0.375rem;
    --tabs-px: 0.375rem;
    --tabs-py: 0.375rem;
    --tab-item-border-radius: 0.25rem;
    --tab-item-gap: 0.25rem;
    --tab-item-py: 0.375rem;
    --tab-item-px: 0.75rem;
    --tooltip-border-radius: 0.375rem;
    --tooltip-py: 0.375rem;
    --tooltip-px: 0.75rem;
    --font-size-h1: 48px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-p: 16px;
    --font-size-blockquote: 16px;
    --font-size-table: 14px;
    --font-size-list: 16px;
    --font-size-inlineCode: 14px;
    --font-size-lead: 20px;
    --font-size-large: 18px;
    --font-size-small: 14px;
    --font-size-subtle: 14px;
    --line-height-h1: 48px;
    --line-height-h2: 36px;
    --line-height-h3: 32px;
    --line-height-h4: 28px;
    --line-height-p: 28px;
    --line-height-blockquote: 24px;
    --line-height-table: 24px;
    --line-height-list: 24px;
    --line-height-inlineCode: 20px;
    --line-height-lead: 28px;
    --line-height-large: 28px;
    --line-height-small: 14px;
    --line-height-subtle: 20px;
    --letter-spacing-h1: -0.576px;
    --letter-spacing-h2: -0.225px;
    --letter-spacing-h3: -0.144px;
    --letter-spacing-h4: -0.1px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --foreground-accent: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground-accent;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  .ProseMirror {
    border: none;
  }
  .ProseMirror a {
    color: #3f8cff;
    border: none;
  }
  .ProseMirror a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
.lucide {
  stroke-width: 1.33px;
}
